/*=====================
  Базовая типография
=====================*/

$roboto: "Roboto", Arial, sans-serif;



body {
  color: #000000;
  font-family: $roboto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

h2 {

}

li {

}
