/*=====================
  Базовая типография
=====================*/

$roboto: 'Open Sans', Arial, sans-serif;


body {
  color: #8c91a0;
  font-family: $roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h2 {

}

li {

}
