.container {
  width: 1240px;
  margin: 0 auto;
  padding: 10px;

  @media (max-width: 1240px) {
    width: 1024px;
  }

  @media (max-width: 1024px) {
    width: 768px;
  }

  @media (max-width: 768px) {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    max-width: 768px;
  }
}

.promo {
  padding: 40px 0 170px;
  background-color: #000000;
  background-image: url("../img/main-bg.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;

  @media (max-width: 1024px) {
    padding: 30px 0 100px;
  }

  @media (max-width: 768px) {
    padding: 20px 0 40px;
  }

  &__title {
    margin: 0;
    margin-top: 190px;
    margin-bottom: 40px;
    padding: 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: 1024px) {
      margin-top: 100px;
      margin-bottom: 40px;
      font-size: 48px;
    }

    @media (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 30px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 20px 30px;
    border: 0;
    border-radius: 200px;
    background-color: #7850dc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    img {
      display: inline-block;
      margin-top: -2px;
      margin-right: 10px;
      vertical-align: top;
    }
  }
}

.header {
  text-align: left;

  &--dark {
    padding: 35px 0;
    background-color: #282832;
  }
}

.logo {
  float: left;

  @media (max-width: 768px) {
    float: none;
    width: 196px;
    margin: 0 auto;
  }

  img {
    display: block;
  }
}

.menu {
  float: right;
  text-align: right;

  @media (max-width: 768px) {
    float: none;
    margin-top: 20px;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
    line-height: 18px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 768px) {
      display: block;
      margin-right: 0;
      text-align: center;
    }
  }

  &__link {
    display: block;
    box-sizing: border-box;
    padding: 15px 25px;
    color: #c8cdd2;
    text-decoration: none;
    font-weight: 400;

    @media (max-width: 768px) {
      display: inline-block;
      vertical-align: top;
    }

    &--active {
      color: #ffffff;
      font-weight: 600;
    }

    &--border {
      border: 1px solid #ffffff;
      border-radius: 100px;
      color: #ffffff;
      font-weight: 600;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.features {
  padding: 110px 0;

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  .container {
    display: flex;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.section-title {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  color: #05143c;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;

  @media (max-width: 768px) {
    padding-bottom: 30px;
    font-size: 26px;
  }
}

.feature {
  box-sizing: border-box;
  width: 20%;
  padding: 15px;
  text-align: center;

  @media (max-width: 1024px) {
    width: 33.333333%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &__image {
    min-height: 64px;
    margin-bottom: 35px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  &__title {
    min-height: 62px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #05143c;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__text {
    margin: 0;
  }
}

.gray {
  padding: 30px 0 10px;
  background-color: #f8f9fc;
}

.sort {
  margin-bottom: 60px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  &__form {
    float: right;
    width: 160px;

    @media (max-width: 768px) {
      float: none;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 10px;
    color: #05143c;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: 1024px) {
      margin-right: 7px;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    padding: 10px 15px;
    border: 1px solid #8c91a0;
    border-radius: 5px;
    color: #8c91a0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    @media (max-width: 1024px) {
      padding: 10px 10px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.cards {
  text-align: center;
}

.cards__container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1240px) {
    justify-content: space-around;
  }
}

.card {
  position: relative;
  display: block;
  width: 292px;
  height: 152px;
  margin-bottom: 25px;
  color: #ffffff;
  text-decoration: none;

  &__date {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
  }

  &__person {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;

    img {
      float: left;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  &__name {
    margin: 0;
    padding: 0;
    color: #c8cdd2;
    font-size: 16px;

    strong {
      display: block;
      color: #ffffff;
      font-size: 18px;
    }
  }
}

.footer {
  padding: 35px 0;
  background-color: #282832;

  @media (max-width: 768px) {
    padding: 25px 0;
  }

  &__right {
    text-align: right;
  }

  &__descr {
    color: transparentize(#c8cdd2, 0.6);

    @media (max-width: 768px) {
      text-align: center;
    }

    a {
      color: #c8cdd2;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.menu--footer {
  float: none;
  margin-bottom: 5px;

  .menu__item {
    position: relative;
    margin: 0;
    padding-right: 30px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
      padding-right: 0;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 15px;
      width: 1px;
      height: 20px;
      background-color: #c8cdd2;
      content: "";

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .menu__link {
    margin: 0;
    padding: 0;
    color: #c8cdd2;
    font-size: 18px;
    line-height: 18px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}

.page {
  padding: 110px 0 10px;

  &__title {
    color: #05143c;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding: 0;

    + p {
      text-align: center;
      font-size: 26px;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      margin-bottom: 50px;
    }
  }

  &__section {
    padding-bottom: 100px;

    h3 {
      color: #05143c;
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      margin-bottom: 25px;
    }

    ul {
      color: #8c91a0;
      padding-left: 20px;
    }

    li {
      font-size: 18px;
      line-height: 32px;
      color: #8c91a0;
    }
  }

  &__feature {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 850px;
    margin: 0 auto;

    .feature {
      width: 220px;
    }
  }
}

.panel {
  width: 320px;
  box-sizing: border-box;
  border: 1px solid #8c91a0;
  padding: 25px 25px 10px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #05143c;
    margin-bottom: 15px;
  }

  ol {
    margin: 0;
    padding: 0;
    padding-left: 20px;

    li {
      margin-bottom: 15px;
      font-size: 14px;
      color: #05143c;
      line-height: 18px;
    }
  }

  img:not(.ico) {
    margin-top: 5px;
    display: block;
  }

  .ico {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
}
